nav {
  background-color: khaki;
  font-family: var(--fontNunito);
  display: flex;
  border-top: solid 1px;
  border-bottom: solid 1px;
  justify-content: space-between;
  background-color: black;
}
nav > div {
  display: flex;
  justify-content: center;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
}

nav a:hover {
  background-color: gray;
  border-radius: 15px;
}
